/* ************************ ------------------ ************************** */
/* ************************** 
BY: m3ch-l0rd aka bosqueblanco aka sumcrzycrzyfool
DATE: 02242026
'ONE CSS TO RULE THEM ALL CONCEPT'
**************************** */
/* ************************ ------------------ ************************** */


/* ************************ ------------------ ************************** */
/* ************************** GLOBAL BODY   **************************** */
/* ************************ ------------------ ************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Courier New;
	background-color: #DBF3C9;

}

i {
	cursor: pointer;
	/*WORKS ON ALL PAGES EXCEPT BLOG AFTER CLICK ?!?*/
}
/*
THIS NEVER WORKED OUTSIDE OF LOCAL SANDBOX ?!?
@font-face {
	font-family: "harlow";
	src: url(fonts/harlow.TTF);
	font-style: normal;
} */

/* ************************ ------------------ ************************** */
/* ************************** NAVBAR ...ALLL PAGES?   **************************** */
/* ************************ ------------------ ************************** */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #344E41;
    color: #D5A848;
    padding: 25px 60px;
    margin-bottom: 10px;
}

#logo {
	color: #D5A848;
	text-decoration: none;
	font-family: Courier New;
	font-size: 26px;

}

.navButtonBox {
	display: flex;
	gap: 4px;
	
}


.cart, .blogButton {
	position: relative;
   	background-color: white;
   	color: #D5A848;
   	font-size: 30px;
   	padding: 5px;
   	border-radius: 4px;
   	border: solid, 2px, #D5A848;
	max-height: 50px;

}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.postBoardsDaddy {
display: flex;
justify-content: center; /* Horizontal centering */
align-items: center;

}
.postBoard {
    
    width: 600px;
    display: flex;
    justify-content: center;
}

.post {
	border: solid black 3px;
    width: 600px;
    padding: 4px;

}

#postImg {
	width: 480px;
	padding: auto;	
}
/**
*! shop items styles here
**/
.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    /*background-color:;*/
}

/* ************************ ------------------ ************************** */
/* ************************** @media RULES  **************************** */
/* ************************ ------------------ ************************** */

@media (max-width: 1000px){
.shop {
        grid-template-columns: repeat(2,223px);
    }
.post {
    border: solid black 3px;
    width: 400px;
    padding: 4px;

}
#postImg {
	width: 360px;
	padding: auto;
}

}

@media (max-width: 500px){
.shop {
        grid-template-columns: repeat(1,223px);
    }
.post {
    border: solid black 3px;
    width: 240px;
    padding: 4px;
#postImg {
	width: 220px;
	padding: auto;
}

}
}

.item {
    border: 2px, solid, #344341;
    border-radius: 4px;
}

.details {
    display: flex;
    flex-direction: column;
    flex: 33.3%;
    padding: 10px;
    gap: 10px;
    max-width: 220px; 
    /* ^tryna get the name in the box...does nothing*/
    background-color: #FAF9F6;
}


.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;

}




/**
 * !style rules for label and buttons
**/


.text-center {
	text-align: center;
	margin-bottom: 20px;
}


/* ************************ ------------------ ************************** */
/* ************************** CART PAGE CSS  **************************** */
/* ************************ ------------------ ************************** */


.homeBtn, .checkout,
.removeAll {
	background-color: #212529;
	color: white;
	border: none;
	padding: 6px;
	border-radius: 3px;
	cursor: pointer;
	margin-top:10px;
	
}

.checkout {
	background-color: green;
}

.removeAll {

	background-color: red;
}

.bi bi-x-lg {
	color: red;
	font-weight: bold;

}


.shopping-cart {
	display: grid;
	grid-template-columns: repeat(1, 320px);
	justify-content: center;
	gap: 15px;

}


.cart-item {
	border: 2px solid #212529;
	border-radius: 5px;
	display: flex;

}

.title-price {

	width: 195px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2px;
}

/*.title-price-x {
display: flex;
flex-direction: row;

} */

.bgc-white {

background: white;
}

.cart-item-price {
	background-color: #212529;
	color: white;
	border-radius: 4px;
	padding: 3px 6px;
	
}





/* ************************ ------------------ ************************** */
/* ************************** FOOTER ALL PAGES  **************************** */
/* ************************ ------------------ ************************** */
footer {
    background-color:#344E41;
    margin-top: 8px;
}

.footerA {
    margin: 5px;
    padding: 5px;

}



#cartPgOnly {
    margin-top: 250px;
}


























