* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Courier New;
	background-color: #DBF3C9;

}

i {
	cursor: pointer;

}

@font-face {
	font-family: "harlow";
	src: url(fonts/harlow.TTF);
	font-style: normal;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #344E41;
    color: #D5A848;
    padding: 25px 60px;
    margin-bottom: 10px;
}
/**
*!25px top and bottom , 60px left and right
**/


#logo {
	color: #D5A848;
	text-decoration: none;
	font-family: harlow;
	font-size: 26px;

}

.cart {
    position: relative;
   background-color: white;
   color:#D5A848;
   font-size: 30px;
   padding: 5px;
   border-radius: 4px;
   border: solid, 2px, #D5A848;
   

}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
/**
*! shop items styles here
**/
.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    /
    */background-color:;*/
}

@media (max-width: 1000px){
.shop {
        grid-template-columns: repeat(2,223px);
    }


}

@media (max-width: 500px){
.shop {
        grid-template-columns: repeat(1,223px);
    }
}

.item {
    border: 2px, solid, #344341;
    border-radius: 4px;
}

.details {
    display: flex;
    flex-direction: column;
    flex: 33.3%;
    padding: 10px;
    gap: 10px;
    max-width: 220px; 
    /* ^tryna get the name in the box...does nothing*/
    background-color: #FAF9F6;
}


.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;

}




/**
 * !style rules for label and buttons
**/


.text-center {
	text-align: center;
	margin-bottom: 20px;
}

.homeBtn, .checkout,
.removeAll {
	background-color: #212529;
	color: white;
	border: none;
	padding: 6px;
	border-radius: 3px;
	cursor: pointer;
	margin-top:10px;
	
}

.checkout {
	background-color: green;
}

.removeAll {

	background-color: red;
}

.bi bi-x-lg {
	color: red;
	font-weight: bold;

}


.shopping-cart {
	display: grid;
	grid-template-columns: repeat(1, 320px);
	justify-content: center;
	gap: 15px;

}


.cart-item {
	border: 2px solid #212529;
	border-radius: 5px;
	display: flex;

}

.title-price {

	width: 195px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2px;
}

/*.title-price-x {
display: flex;
flex-direction: row;

} */

.bgc-white {

background: white;
}

.cart-item-price {
	background-color: #212529;
	color: white;
	border-radius: 4px;
	padding: 3px 6px;
	
}











